@import "../../../styles/mixins.scss";
.modal {
    position: fixed;

    top: 0;
    right: 0;

    width: 60%;
    height: 100vh;

    background-color: white;

    z-index: 2000;

    // border-left: 1px solid black;
    box-shadow: -2px 0px 5px white;

    display: flex;
    flex-direction: row;

    @include respond(tablet) {
        width: 80%;
    }
    @include respond(mobile) {
        width: 300px;
    }
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: rgb(132, 0, 0);
    cursor: pointer;

    transition: all 0.2s ease-out;

    &:hover {
        transform: scale(1.1);
    }
}

.left {
    padding: 3rem;
    flex-basis: 400px;
    position: relative;
    z-index: 1000;
    background-color: white;

    @include respond(tablet) {
        flex-basis: 50%;
    }
}

@mixin link {
    a {
        display: inline-block;
        color: black;
        text-decoration: none;
        transition: all 0.2s ease-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.top-links {
    @include link();
}

.form {
    width: 300px;
    box-sizing: border-box;
    padding-right: 30px;
    input,
    textarea {
        width: 100%;
        border: 1px solid black;
        border-radius: 3px;
        // margin: 1rem;
        padding: 1rem;
    }

    @include respond(mobile) {
        width: 100%;
    }
}

.right {
    height: 100%;
    width: 100%;
    z-index: 1000;

    @include respond(tablet) {
        flex-basis: 50%;
    }
    // flex-basis: 50%;

    @include respond(mobile) {
        display: none;
    }
}

.bottom-links {
    margin-top: 2rem;
    display: inline-flex;
    flex-direction: column;
    li {
        margin-top: 1rem;
    }

    @include link();
}

.thanks {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    color: rgb(172, 1, 1);
    margin-top: 5vh;
}
