@import "../../../styles/mixins.scss";
.section {
    background: rgb(190, 190, 190);
    padding-top: 8rem;
    padding-bottom: 8rem;
    min-height: 100vh;
    overflow: hidden;
    z-index: 10;
}

.bg {
    position: absolute;

    transform: translateY(-50%);
    top: 50%;
    left: 0;

    z-index: -100;
    width: 100%;
    height: 100%;

    background: black;

    @include respond(mobile) {
        height: 100vh;
        width: auto;

        transform: translateY(0);
        top: 0;
        left: 0;
    }
}

.btn {
    @include respond(tablet) {
        display: none;
    }
}
.overlay {
    position: absolute;

    transform: translateY(-50%);
    top: 50%;
    left: 0;

    z-index: -10;
    width: 100%;
    height: 100%;

    background: radial-gradient(closest-side, #0000004d, #000000da, #000000);

    @include respond(mobile) {
        background: radial-gradient(
            closest-side,
            #0000004d,
            #0000009c,
            #000000
        );
    }
}
.container {
    display: flex;
    flex-direction: row;

    @include respond(tablet) {
        flex-direction: column;
    }
}

.left {
    flex-basis: 50%;
    flex-direction: column;
}

.right {
    flex-basis: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond(tablet) {
        flex-direction: column;
        flex-basis: 500px;
    }
    @include respond(tablet) {
        flex-basis: 400px;
    }
}

.hexagon-container {
    position: relative;

    & > * {
        transform: translateY(-50%);
        &:nth-child(1) {
            top: 90px;
            right: 200px;
        }
        &:nth-child(2) {
            top: -90px;
            right: 100px;
        }
        &:nth-child(3) {
            top: -90px;
            right: 300px;
        }
        &:nth-child(4) {
            top: 90px;
            right: 0;
        }

        @include respond(tablet) {
            transform: translate(120%, -150%);

            &:nth-child(1) {
                top: 80px;
                right: 180px;
            }
            &:nth-child(2) {
                top: -80px;
                right: 90px;
            }
            &:nth-child(3) {
                top: -80px;
                right: 270px;
            }
            &:nth-child(4) {
                top: 80px;
                right: 0;
            }
        }

        @include respond(mobile) {
            transform: translate(130%, -150%);

            &:nth-child(1) {
                top: 60px;
                right: 130px;
            }
            &:nth-child(2) {
                top: -60px;
                right: 65px;
            }
            &:nth-child(3) {
                top: -60px;
                right: 195px;
            }
            &:nth-child(4) {
                top: 60px;
                right: 0;
            }
        }
    }
}

.img-container {
    position: relative;
    flex-basis: 20vh;
    width: 100%;
}
.content {
    color: white;

    @include respond(tablet) {
        p,
        h1 {
            text-align: center;
            padding: 1rem 5rem;
        }
    }
}

.logo {
    object-position: left;

    @include respond(tablet) {
        object-position: center;
    }
}
