.section,
.header,
.footer {
    padding-left: 5rem;
    padding-right: 5rem;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

    @include respond(mobile) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.container {
    margin: 0 auto;
    max-width: 130rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.centered {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 50rem;
}
