body {
    position: relative;
}

.section,
.header {
    padding-left: 5rem;
    padding-right: 5rem;

    box-sizing: border-box;

    @include respond(mobile) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.section,
.footer {
    position: relative;
}

.header {
    top: -60px;
    transition: all 0.3s;
    z-index: 100;
}

.show-navbar {
    top: 0;
    transition: all 0.3s;
}

.social {
    right: -3rem;
    transition: all 0.3s;
}

.show-social {
    transition: all 0.3s;
    right: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 130rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.centered {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 50rem;
}
