.btn {
    background: linear-gradient(to bottom, #6f0000, #0000006a);
    padding: 1.5rem 3rem;
    margin-top: 2rem;
    // display: block;
    border: none;

    color: white;

    cursor: pointer;

    transition: all 0.3s ease-in;

    &:hover {
        background: linear-gradient(to bottom, #6f0000, #6f0000);
    }
}

.nav-item {
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.2);
    }
}

.hexagon-link {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #ffffff;

    height: 120px * 2;
    width: 100px * 2;

    @include respond(tablet) {
        height: 200px;
        width: 170px;
    }

    @include respond(mobile) {
        height: 150px;
        width: 120px;
    }

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bold;

    cursor: pointer;

    position: absolute;
    z-index: 2;

    &::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 97%;
        height: 97%;
        transform: translate(-50%, -50%);
        clip-path: polygon(
            50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%
        );

        background-color: rgba(163, 0, 0, 0.724);
        z-index: 2;
    }

    a {
        z-index: 3;
        font-size: 2.5rem;
    }
}
