html {
    font-size: 62.5%;

    @include respond(mobile) {
        font-size: 50%;
    }

    @include respond(desktop) {
        font-size: 70%;
    }
}

h1 {
    font-size: 7rem;
    margin: 0;
    padding: 3rem 0;

    @include respond(mobile) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 4rem;
    margin: 0;
    padding: 2rem 0;
}

p,
div,
span,
li,
a,
button {
    margin: 0;
    font-size: 1.5rem;
}

p {
    padding: 1.5rem 0;
}
